body {
    font-size: clamp(12px, 14px, 16px);
    box-sizing: border-box;
}

h1 {
    font-size: 2.8em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 2.1em;
}

h4 {
    font-size: 1.8em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1em;
}

section.first-section {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 1.5em 0;
}

ul.first-ul>li {
    list-style-type: square;
}

ul.first-ul>li>ul>li {
    list-style-type: disc;
}

ul.first-ul>li>ul>li>ul>li {
    list-style-type: circle;
}

table {
    width: 100%;
    background: rgb(191, 191, 191);
}



th {
    width: 33.33%;
    text-align: left;
    padding: 0.5em;
}

td {
    padding: 0.3em;
}

tr:nth-child(odd) {
    background: whitesmoke;
}

tr:nth-child(even) {
    background: rgb(233, 233, 233);
}

tr:first-child {
    background: lightgrey;
}

blockquote {
    border-left: 5px solid lightgray;
    padding: 1em 0em 1em 2em;
}

blockquote p:not(:last-child) {
    font-style: italic;
}

blockquote p:last-child {
    font-weight: bold;
    text-align: end;
}