html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site {
    max-width: 66ch;
    margin: 0 auto;
}

.card{
    display:block;
    max-width: 350px;
    margin: 0 auto;
    color:black;
    text-decoration: none;
}
p >span {
    margin-top: 0.5rem;
    display: block;
    opacity: 0.6;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}
